.jumbotron {
  margin-top: 1rem;
}

button {
  background-color: rgb(167, 167, 167);
}

button:hover {
  background-color: rgb(126, 123, 123);
}

#search {
  margin: auto;
}

#searchBtn {
  margin: auto;
}

#searchRow {
  margin-top: 2rem;
}
